<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--configuration core file-->
<mapper namespace="com.gxt.dao.LevelexbookMapper">

    <select id="getWord" resultType="Levelexbook">
        select * from levelexbook where wordId = #{wordId}
    </select>

    <select id="getWordCount" resultType="int">
        select count(found_rows()) from levelexbook
    </select>
</mapper>
