<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="common/head :: head(~{::link},~{})">
    <title>旦旦自制英语词汇学习网</title>

<body>
<link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet">
<div th:replace="common/frame :: frame"></div>


<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-4">备忘录</h4>


                        <ol class="activity-feed mb-0 pl-3" th:each="forget:${session.forgets}">
                            <li class="feed-item" >
                                <div class="feed-item-list">
                                    <p class="text-muted mb-1" th:text="${forget.creatTime}"></p>
                                    <a href="#" id="ajax-alert3" class="font-15 mt-0 mb-0" name="forgetId" th:value="${forget.id}" th:text="${forget.content}"></a>
                                </div>
                            </li>


                        </ol>
                        <button type="button" class="dropdown-item text-center notify-all text-primary" id="ajax-alert2">
                            添加<i class="fi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title font-16 mt-0">励志墙</h4>
                        <h6 class="card-subtitle font-14 text-muted" th:text="${session.target}"></h6>
                    </div>
                    <img class="img-fluid" th:src="@{/picture/img-4.jpg}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link "id="ajax-alert">编辑</a>
                        <a href="#" class="card-link">上传图片</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">

            <form class="form-horizontal mt-4" th:action="@{/login}">



                <div class="form-group row">
                    <label for="example-search-input" class="col-sm-3 col-form-label">快速查词</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="search" placeholder="请输入" id="example-search-input">
                    </div>
                </div>


                <div class="form-group text-center mt-3">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">搜索</button>
                    </div>
                </div>
            </form>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">单词查找</h4>
                            <p class="sub-title">
                                可根据单词部分或释义在所选择的词库内搜索
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>单词</th>
                                        <th>释义</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/waves.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/alertify.js}"></script>
<script th:src="@{/js/alertify-init.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/sweetalert2.min.js}"></script>
<script th:src="@{/js/sweet-alert.init.js}"></script>
</body>
<footer th:replace="common/foot :: foot(~{::link},~{})">

</footer>
</html>