<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/waves.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/alertify.js}"></script>
<script th:src="@{/js/alertify-init.js}"></script>
<script th:src="@{/js/app.js}"></script>




<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-editable.min.js}"></script>
<script th:src="@{/js/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/js/bootstrap-maxlength.min.js}"></script>
<script th:src="@{/js/bootstrap-rating.min.js}"></script>
<script th:src="@{/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/js/buttons.colVis.min.js}"></script>
<script th:src="@{/js/buttons.html5.min.js}"></script>
<script th:src="@{/js/buttons.print.min.js}"></script>
<script th:src="@{/js/c3.min.js}"></script>
<script th:src="@{/js/c3-chart-init.js}"></script>
<!--    <script th:src="@{/js/calendar-init.js}"></script>-->
<script th:src="@{/js/chart.min.js}"></script>
<script th:src="@{/js/chartist.init.js}"></script>
<script th:src="@{/js/chartist.min.js}"></script>
<script th:src="@{/js/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{/js/chartjs.init.js}"></script>
<script th:src="@{/js/countdown.int.js}"></script>
<script th:src="@{/js/curvedLines.js}"></script>
<script th:src="@{/js/d3.min.js}"></script>
<script th:src="@{/js/dashboard.init.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/js/datatables.init.js}"></script>
<script th:src="@{/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/js/dropzone.js}"></script>
<script th:src="@{/js/excanvas.js}"></script>
<script th:src="@{/js/flot.init.js}"></script>
<script th:src="@{/js/form-advanced.init.js}"></script>
<!--    <script th:src="@{/js/fullcalendar.min.js}"></script>-->
<script th:src="@{/js/gdp-data.js}"></script>
<script th:src="@{/js/gmaps.js}"></script>
<script th:src="@{/js/ion.rangeSlider.min.js}"></script>
<script th:src="@{/js/jquery.bootstrap-touchspin.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/jquery.flot.crosshair.js}"></script>
<script th:src="@{/js/jquery.flot.min.js}"></script>
<script th:src="@{/js/jquery.flot.pie.js}"></script>
<script th:src="@{/js/jquery.flot.resize.js}"></script>
<script th:src="@{/js/jquery.flot.selection.js}"></script>
<script th:src="@{/js/jquery.flot.stack.js}"></script>
<script th:src="@{/js/jquery.flot.time.js}"></script>
<script th:src="@{/js/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/js/jquery.knob.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.nestable.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/jquery-jvectormap-2.0.2.min.js}"></script>
<script th:src="@{/js/jquery-jvectormap-uk-mill-en.js}"></script>
<script th:src="@{/js/jquery-jvectormap-us-aea-en.js}"></script>
<script th:src="@{/js/jquery-jvectormap-us-il-chicago-mill-en.js}"></script>
<script th:src="@{/js/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/jszip.min.js}"></script>
<script th:src="@{/js/jvectormap.init.js}"></script>
<script th:src="@{/js/lightbox.js}"></script>
<script th:src="@{/js/mindmup-editabletable.js}"></script>
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/morris.init.js}"></script>
<script th:src="@{/js/morris.min.js}"></script>
<script th:src="@{/js/nestable-init.js}"></script>
<script th:src="@{/js/numeric-input-example.js}"></script>
<script th:src="@{/js/parsley.min.js}"></script>
<script th:src="@{/js/rangeslider-init.js}"></script>
<script th:src="@{/js/raphael.min.js}"></script>
<script th:src="@{/js/rating-init.js}"></script>
<script th:src="@{/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/js/rwd-table.min.js}"></script>
<script th:src="@{/js/summernote-bs4.min.js}"></script>
<script th:src="@{/js/sweet-alert.init.js}"></script>
<script th:src="@{/js/sweetalert2.min.js}"></script>
<script th:src="@{/js/tinymce.min.js}"></script>
<script th:src="@{/js/waves.min.js}"></script>
<script th:src="@{/js/xeditable.js}"></script>